
.col-container {
    display:flex;
    flex-direction:column;
}

.row-container {
    display:flex;
    flex-direction:row;

}

.main-component {
    display:flex;
    flex:1;
    justify-content:center;
    align-items:center;
    padding-top:75px;
}

.background-vid {
}
